<h1>Recipe: <%=@recipe.name%></h1>
<h2>Preparation time:<%=@recipe.preparation_time%></h2>
<h2>Cooking time: <%=@recipe.cooking_time%></h2>
<h3>Public <%= check_box_tag "public", "1", @recipe.public %></h3>
<h3>Steps go here: <p><%=@recipe.description%></p></h3>
