<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice p-3"><%= notice %></p>
    <p class="alert p-3"><%= alert %></p>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'My Recipes', my_recipes_path %> </li>
        <li><%= link_to 'My Foods', my_foods_path %> </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
